@tailwind base;
@tailwind components;
@tailwind utilities;

.no-copy {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.blinking-cursor {
  animation: blink 0.9s ease-in-out infinite;
  position: absolute;
  left: calc(-0.3em);
  top: 0;
  font-size: var(--font-size, 1em);
}

@keyframes blink {
  0%,
  100% {
    opacity: 0.7;
  }
  50% {
    opacity: 0;
  }
}

@keyframes moveCursor {
  0% {
    left: 0;
  }
  100% {
    left: -1em; /* Настройте это значение в зависимости от вашего шрифта и размеров */
  }
}
