@tailwind base;
@tailwind components;
@tailwind utilities;

.no-copy {
  user-select: none; /* Отключает выделение текста */
  -webkit-user-select: none; /* Отключает выделение текста в WebKit браузерах */
  -moz-user-select: none; /* Отключает выделение текста в Firefox */
  -ms-user-select: none; /* Отключает выделение текста в Internet Explorer */
}

/* .blinking-cursor {
  animation: blink 0.9s ease-in-out infinite;
  position: absolute;
} */
.blinking-cursor {
  animation: blink 0.9s ease-in-out infinite;
  position: absolute;
  left: calc(-0.3em); 
  top: 0;
  font-size: var(--font-size, 1em); 
}


@keyframes blink {
  0%, 100% {
    opacity: 0.7;
  }
  50% {
    opacity: 0;
  }
}