@tailwind base;
@tailwind components;
@tailwind utilities;

.no-copy {
  user-select: none; /* Отключает выделение текста */
  -webkit-user-select: none; /* Отключает выделение текста в WebKit браузерах */
  -moz-user-select: none; /* Отключает выделение текста в Firefox */
  -ms-user-select: none; /* Отключает выделение текста в Internet Explorer */
}